* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    background-color: #d1e0e0;
}

header {
    text-align: center;
    font-weight: bolder;
    line-height: 10px;
    background-color: #821919;
    color: #f8f8f8;
}

img {
    height: 125px;
    width: 100px;
    border-radius: 25px
}

li {
    line-height: 20px;
}